:root{
    --link-color: #292A33;
    --acctent-color: #000;
    --button-text: #FFF;
}

body{
    font-family: "Josefin Sans";
    font-size: 18px;
    line-height: normal;
    font-weight: 300;
    letter-spacing: 2.8px;
}

.container{
max-width: 1160px;
padding: 0 6px;
margin: 0 auto;
outline: solid red;
}

/* header */

header{
border-bottom: 1px solid rgba(0, 0, 0, 0.70);
background-color: var(--button-text);
}

.header-box{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo{
width: 125px;
height: 27px;
margin-right: auto;
}

.nav-points{
    display: flex;
    gap: 40px;
    margin-right: 165px;
}

.page:hover{
    color: #DE1616;
}

.page{
color: var(--acctent-color);
letter-spacing: 0.9px;
text-transform: capitalize;
}

.header-points{
    display: flex;
    gap: 20px;
    align-items: center;
}

.quantity-points{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.quantity-point:nth-child(1){
display: flex;
width: 20px;
height: 20px;
background-color: red;
border-radius: 10px;
align-items: center;
}

.quantity{  
color: var(--button-text);
font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 160%; /* 25.6px */
letter-spacing: 0.8px;
text-transform: capitalize;
padding: 4px 5px;
}

.quantity-text{
color: var(--acctent-color);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.7px;
text-transform: capitalize;
}

/* main */

.hero-box{
    display: flex;
    padding-bottom: 90px;
}

.hero-info{
    padding-top: 179px;
    padding-bottom: 269px;
}

.hero-breadcrumb{
color: #7F7F7F;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 160%; /* 25.6px */
letter-spacing: 0.8px;
text-transform: lowercase;
}

.hero-title{
    color: var(--link-color);
font-family: Cormorant;
font-size: 42px;
font-weight: 400;
line-height: 130%; /* 54.6px */
letter-spacing: 2.94px;
text-transform: capitalize;
margin-bottom: 20px;
}

.hero-text{
    max-width: 483px;
color: var(--acctent-color);
font-size: 22px;
line-height: 160%; /* 35.2px */
letter-spacing: 2.2px;
margin-bottom: 35px;
}

.hero-bt{
background: var(--link-color);
color: var(--button-text);
line-height: normal;
letter-spacing: 2.7px;
text-transform: uppercase;
padding: 14px 28px;
}

.hero-img{
max-width: 810px;
max-height: 699px;
}

.category-title{
    color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
text-transform: capitalize;
text-align: center;
margin-bottom: 60px;
}

.category-points{
    display: flex;
    gap: 40px;
}

.category-point:hover{
    background: var(--button-text);
    box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.15);
}

.category-img{
    max-width: 360px;
    max-height: 290px;
    margin-bottom: 21px;
}

.point-title{
 color: var(--acctent-color);
text-align: center;
font-family: Cormorant;
font-size: 24px;
font-weight: 500;
letter-spacing: 2.4px;
text-transform: capitalize;
padding-bottom: 20px;
}

.scroll{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}

.arrow{
width: 50px;
height: 50px;
}

.video-container{
    padding-bottom: 90px;
}

.video-box{
    display: flex;
    flex-direction: column;
justify-content: space-between;
align-items: flex-end;
/* padding: 40px 40px 40px 0; */
background-image: url(../images/backvideo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-title{
max-width: 232px;
max-height: 180px;
color: var(--button-text);
text-align: right;
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
line-height: 160%; /* 44.8px */
text-transform: capitalize;
margin-bottom: 394px;
padding-top: 40px;
}

.video-bt{
background-color: var(--button-text);    
font-weight: 300;    
color: var(--link-color);
letter-spacing: 2.7px;
text-transform: uppercase;
padding: 14px 28px;
margin-bottom: 40px;
}

.deal-title{
color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
text-transform: capitalize;
margin-bottom: 60px;
text-align: center;
}

.backpacks{
display: flex;
gap: 40px;
}

.backpack{
    display: flex;
    align-items: center;
}

.backpack-img{
width: 260px;
height: 340px;
}

.backpack-box{
padding: 25px 12px;
border-top: 1px solid #7F7F7F;
border-right: 1px solid #7F7F7F;
border-bottom: 1px solid #7F7F7F;
background: var(--button-text);
}

.backpack-title{
color: var(--acctent-color);
text-align: center;
font-family: Cormorant;
font-weight: 600;
letter-spacing: 1.8px;
margin-bottom: 47px;
}

.backpack-price{
color: var(--acctent-color);
font-size: 22px;
letter-spacing: 1.1px;
margin-bottom: 24px;
text-align: center;
}

.backpack-text{
color: var(--acctent-color);
font-size: 14px;
line-height: 160%; /* 22.4px */
letter-spacing: 0.7px;
margin-bottom: 19px;
}

.backpack-bt{
color: var(--button-text);
font-size: 14px;
font-weight: 400;
line-height: 14px; /* 100% */
letter-spacing: 1.4px;
text-transform: capitalize;
background-color: var(--link-color);
padding: 8px 14px;
}

.banner-box{
    display: flex;
    gap: 40px;
    padding-bottom: 90px;
}

.banner-1part{
background-image: url(../images/backbanner1.png);
background-repeat: no-repeat;
background-size: cover;
width: 560px;
height: 560px;
}

.banner-title{
color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
text-transform: capitalize;
margin-bottom: 10px;
padding-top: 40px;
padding-left: 40px;
}

.banner-text{
color: var(--acctent-color);
line-height: 160%; /* 28.8px */
letter-spacing: 0.9px;
margin-bottom: 332px;
max-width: 204px;
padding-left: 40px;
}

.banner-bt{
color: var(--link-color);
letter-spacing: 2.7px;
text-transform: uppercase;
border: 1px solid var(--link-color);
padding: 14px 28px;
margin-left: 40px;
background: transparent;    
font-weight: 300;
}

.banner-2part{
background-image: url(../images/backbanner-2.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 560px;
height: 560px;
display: flex;
flex-direction: column;
align-items: flex-end;
}

.banner-quote{
text-align: right;
max-width: 232px;
max-height: 180px;
color: var(--button-text);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
line-height: 160%; /* 44.8px */
text-transform: capitalize;
margin-bottom: 340px;
padding-top: 40px;
padding-right: 46px;
}

.banner-bt-2{
color: var(--button-text);
letter-spacing: 2.7px;
text-transform: uppercase;
border: 1px solid var(--button-text);
padding: 14px 28px;
background: transparent;    
font-weight: 300;
margin-right: 46px;
}

.news-title{
color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
text-transform: capitalize;
margin-bottom: 60px;
text-align: center;
}

.news-points{
    display: flex;
    gap: 40px;
}

.news-point{
display: flex;
flex-direction: column;
background: var(--button-text);
box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.15);
align-items: center;
justify-content: flex-start;
}

.news-box{
display: flex;

}

.news-ccalendar{
color: #7F7F7F;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.7px;
text-transform: capitalize;
transform: rotate(-90deg);
outline: violet;
}

.news-img{
width: 320px;
height: 230px;
}

.news-inf{
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
gap: 10px;
justify-content: flex-end;
}

.news-name{
 max-width: 217px;   
color: var(--acctent-color);
text-align: center;
font-family: Cormorant;
font-weight: 600;
line-height: 160%; /* 28.8px */
letter-spacing: 1.8px;
font-size: 18px;
}

.news-text{
color: var(--acctent-color);
font-size: 16px;
line-height: 160%; /* 25.6px */
letter-spacing: 0.8px;
text-transform: capitalize;
max-width: 320px;
}

.news-more{
color: var(--acctent-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
text-transform: capitalize;
}

.present-container{
display: flex;
padding-bottom: 90px;
}

.present-box{
border: 1px solid #333;
display: flex;
flex-direction: column;
justify-content: center;
padding: 40px;
}

.present-title{
color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
text-transform: capitalize;
margin-bottom: 10px;
}

.present-text{
color: var(--acctent-color);
line-height: 160%; /* 28.8px */
letter-spacing: 0.9px;
margin-bottom: 32px;
max-width: 204px;
}

.present-bt{
color: var(--link-color);
line-height: normal;
letter-spacing: 2.7px;
text-transform: uppercase;
padding: 14px 28px;
font-weight: 300;
border: 1px solid var(--link-color);
}

.present-img{
width: 864px;
height: 260px;
border: 1px solid var(--acctent-color) ;
}

.registration-container{
    display: flex;
    padding-bottom: 90px;
    flex-direction: column;
    align-items: center;
}

.registration-title{
color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
margin-bottom: 60px;
}

.registration-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-text{
color: var(--acctent-color);
line-height: normal;
letter-spacing: 0.9px;
text-transform: capitalize;
margin-bottom: 20px;
}

.registration-input{
    width: 560px;
    height: 46px;
}

.registration-bt{
color: var(--button-text);
line-height: normal;
letter-spacing: 2.7px;
text-transform: uppercase;
padding: 14px 28px;
background: var(--link-color);
font-size: 18px;
font-weight: 300;
}


/* footer */


footer{
border-top: 1px solid #7F7F7F;
background: #FFF;
}

.footer-points{
    display: flex;
}

.footer-point{
padding-top: 28px;
}

.footer-point:nth-child(1){
    margin-right: 161px;
}

.footer-point:nth-child(2){
    margin-right: 106px;
}

.footer-point:nth-child(3){
    margin-right: 61px;
}

.footer-point:nth-child(4){
    margin-right: 36px;
}

.footer-logo{
width: 118px;
height: 21px;    
}

.slidebars{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slidebar:nth-child(1){
    display: flex   ;
    align-items: center;
}

.footer-img{
width: 24px;
height: 24px;
margin-right: 10px;
}

.footer-link{
color: var(--link-color);
font-size: 16px;
font-style: normal;
line-height: normal;
letter-spacing: 0.8px;
}

.footer-text{
color: var(--link-color);
font-size: 16px;
font-style: normal;
line-height: 160%; /* 25.6px */
letter-spacing: 0.8px;
text-transform: capitalize;
width: 190px;
}

.footer-page{
color: var(--link-color);
font-family: Cormorant;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.4px;
text-transform: capitalize;
}

.slidebar-link{
color: var(--link-color);
font-size: 16px;
font-style: normal;
line-height: normal;
letter-spacing: 0.8px;
text-transform: capitalize;
}



/* shop */

.hero-shop{
    display: flex;
    flex-direction: column;
}

.shop-box{
    display: flex;
    gap: 40px;
}

.shop-title{
color: var(--acctent-color);
text-align: center;
font-family: Cormorant;
font-size: 42px;
letter-spacing: 4.2px;
margin-bottom: 60px;
}

.side-menu{
float: left;
}

.side-title{
    color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
letter-spacing: 2.8px;
text-transform: capitalize;
margin-bottom: 15px;
}

.side-title:nth-child(1){
    margin-bottom: 50px;
}

.side-bt{
    color: var(--link-color);
letter-spacing: 2.7px;
text-transform: uppercase;
padding: 14px 28px;
border: 1px solid var(--link-color);
margin-bottom: 20px;
}

.side-price{
    color: var(--acctent-color);
line-height: 160%; /* 28.8px */
letter-spacing: 0.9px;
text-transform: capitalize;
margin-bottom: 30px;
}

.buttons-points{
    display: flex;
}

.buttons-bt{
    color: rgba(0, 0, 0, 0.50);
font-size: 16px;
font-weight: 400;
letter-spacing: 0.8px;
text-transform: capitalize;
padding: 7px 14px;
background-color: #D9D9D9;
}

.filter-box{
display: flex;
gap: 379px;
margin-bottom: 51px;
}

.shop-filters{
color: var(--acctent-color);
letter-spacing: 0.9px;
text-transform: capitalize;
}

.shop-options{
color: var(--acctent-color);
font-family: "Josefin Sans";
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.9px;
text-transform: capitalize;
border: 1px solid rgba(0, 0, 0, 0.30);
}

.shop-points{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.shop-point{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 80px) / 3);
}

.shop-point:hover{
background: var(--button-text);
box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.15);
}

.shop-img{
    width: 260px;
    height: 260px;
    margin-bottom: 10px;
}

.shop-name{
font-size: 18px;
line-height: normal;
margin-bottom: 40px;
color: var(--acctent-color);
text-align: center;
font-family: Cormorant;
font-weight: 600;
letter-spacing: 1.8px;
margin-bottom: 40px;
}

.shop-price{
color: var(--acctent-color);
text-align: center;
font-size: 22px;
letter-spacing: 1.1px;
}

.page-points{
    display: flex;
    margin-left: 768px;
    margin-top: 40px;
}

.page-bt{
color: var(--acctent-color);
line-height: normal;
letter-spacing: 0.9px;
text-transform: capitalize;
padding: 6px 12px;
}

.page-bt:hover{
    background: var(--link-color);
    color: var(--button-text);
}




/* about us */


.about-hero{
    display: flex;
    flex-direction: column;
}

.page-title{
color: var(--acctent-color);
text-align: center;
font-family: Cormorant;
font-size: 42px;;
letter-spacing: 4.2px;
margin-bottom: 50px;
}

.about-box{
    display: flex;
    gap: 40px;
}

.about-quote{
color: rgba(0, 0, 0, 0.50);
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 160%; /* 25.6px */
letter-spacing: 0.8px;
text-transform: lowercase;
margin-bottom: 10px;
}

.about-title{
color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
line-height: 160%; /* 44.8px */
letter-spacing: 2.8px;
text-transform: capitalize;
}

.about-text{
color: var(--acctent-color);
line-height: 160%; /* 28.8px */
letter-spacing: 0.9px;
margin-top: 30px;
}

.description-points{
display: flex;
gap: 40px;
margin-top: 90px;
margin-bottom: 90px;
}

.description-point{

}

.description-title{
color: var(--acctent-color);
font-family: Cormorant;
font-size: 24px;
font-weight: 500;
line-height: 160%; /* 38.4px */
letter-spacing: 2.4px;
text-transform: capitalize;
width: 348px;
}

.description-text{
color: var(--acctent-color);
line-height: 160%; /* 28.8px */
letter-spacing: 0.9px;
width: 360px;
}

/* contacts */

.contacts-hero{
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
}

.contacts-box{
    display: flex;
    margin-bottom: 10px;
}

.contacts-title{
 color: var(--acctent-color);
text-align: center;
font-family: Cormorant;
font-size: 42px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 4.2px;
margin-bottom: 50px;
}

.left-title{
    color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.8px;
text-transform: capitalize;
margin-bottom: 50px;
}

.left-points{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-point{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-name{
    color: var(--acctent-color);
font-family: Cormorant;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 2.4px;
text-transform: capitalize;
}

.left-text{
    color: var(--acctent-color);
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.9px;
}

.fill-box{
    margin-left: 200px;
    margin-right: 40px;
}

.fill-title{
    color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.8px;
text-transform: capitalize;
margin-bottom: 50px;
}

.fill-points{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.fill-point{
    display: flex;
    flex-direction: column;
}

.fill-lable{
    color: var(--acctent-color);
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.9px;
text-transform: capitalize;
}

.fill-input{
width: 460px;
height: 34px;
border: 1px solid rgba(0, 0, 0, 0.30);
}

#massage{
    width: 460px;
    height: 180px;
}

.fill-bt{
color: var(--button-text);
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 2.7px;
text-transform: uppercase;
padding: 14px 28px;
background: var(--link-color);
}

.right-title{
color: var(--acctent-color);
font-family: Cormorant;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.8px;
text-transform: capitalize;
margin-bottom: 30px;
}

.right-points{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.right-point{
    display: flex;
    justify-content: space-between;
}

.right-text{
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
letter-spacing: 0.8px;
text-transform: capitalize;
}

.posts-point{
    display: flex;
}

.posts-img{
    width: 80px;
height: 80px;
margin-right: 10px;
}

.posts-name{
    color: var(--acctent-color);
font-family: Cormorant;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.6px;
margin-bottom: 5px;
}

.posts-text{
color: #7F7F7F;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
text-transform: capitalize;
}

.contacts-img{
    width: 860px;
height: 400px;
}