:root{
    --button-text: #292A33;
    --main-color: #000;
    --second-color: #FFF;
}

body{
    font-family: "Josefin Sans";
    font-size: 18px;
    line-height: normal;
    font-weight: 300;
    letter-spacing: 2.8px;
}

.container{
max-width: 1160px;
padding: 0 10px;
margin: 0 auto;
outline: solid red;
}

/* header */

header{
border-bottom: 1px solid rgba(0, 0, 0, 0.70);
background-color: var(--second-color);
}

.header-box{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo{
width: 125px;
height: 27px;
margin-right: auto;
}

.nav-points{
    display: flex;
    gap: 40px;
    margin-right: 165px;
}

.page:hover{
    color: #DE1616;
}

.page{
color: var(--main-color);
letter-spacing: 0.9px;
text-transform: capitalize;
}

.header-points{
    display: flex;
    gap: 20px;
    align-items: center;
}

.quantity-points{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.quantity-point:nth-child(1){
display: flex;
width: 20px;
height: 20px;
background-color: red;
border-radius: 10px;
align-items: center;
}

.quantity{  
color: var(--second-color);
font-family: Lato;
font-size: 16px;
font-weight: 700;
line-height: 160%; /* 25.6px */
letter-spacing: 0.8px;
text-transform: capitalize;
padding: 4px 5px;
}

.quantity-text{
color: var(--main-color);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.7px;
text-transform: capitalize;
}

/* main */

.hero-box{
    display: flex;
}

.hero-info{
    padding-top: 179px;
    padding-bottom: 269px;
}

.hero-breadcrumb{
color: #7F7F7F;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: 160%; /* 25.6px */
letter-spacing: 0.8px;
text-transform: lowercase;
}

.hero-title{
    color: var(--button-text);
font-family: Cormorant;
font-size: 42px;
font-weight: 400;
line-height: 130%; /* 54.6px */
letter-spacing: 2.94px;
text-transform: capitalize;
margin-bottom: 20px;
}

.hero-text{
    max-width: 483px;
color: var(--main-color);
font-size: 22px;
line-height: 160%; /* 35.2px */
letter-spacing: 2.2px;
margin-bottom: 35px;
}

.hero-bt{
background: var(--button-text);
color: var(--second-color);
line-height: normal;
letter-spacing: 2.7px;
text-transform: uppercase;
padding: 14px 28px;
}

.hero-img{
max-width: 810px;
max-height: 699px;
}

.category-title{
    color: var(--main-color);
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
text-transform: capitalize;
text-align: center;
margin-bottom: 60px;
}

.category-points{
    display: flex;
    gap: 40px;
}

.category-point:hover{
    background: var(--second-color);
    box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.15);
}

.category-img{
    max-width: 360px;
    max-height: 290px;
    margin-bottom: 21px;
}

.point-title{
 color: var(--main-color);
text-align: center;
font-family: Cormorant;
font-size: 24px;
font-weight: 500;
letter-spacing: 2.4px;
text-transform: capitalize;
padding-bottom: 20px;
}

.arrow{
width: 50px;
height: 50px;
}

.video{
    background-image: url(../images/backvideo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.video-box{
}

.video-title{
max-width: 232px;
max-height: 180px;
color: var(--second-color);
text-align: right;
font-family: Cormorant;
font-size: 28px;
font-weight: 400;
line-height: 160%; /* 44.8px */
text-transform: capitalize;
padding-top: 40px;
margin-bottom: 394px;
}

.video-bt{
background-color: var(--second-color);    
font-weight: 300;    
color: var(--button-text);
letter-spacing: 2.7px;
text-transform: uppercase;
padding: 14px 28px;
}